.paddedbox {
  padding: 10px;
  margin: 10px;
}

.nohead {
  padding-top: 0px;
  margin-top: 0px;
}

.greybox {
  background: #EEE;
  border: 1px solid #CCC
}

.headbox {
  margin-top:0;
  padding-top:10px;
  padding-bottom:10px;
  height:70px;
}

.thinheadbox{
  margin-top:0;
  padding-top:10px;
  padding-bottom:10px;
  height:50px;
  position:absolute;
  width:100%;
  z-index:-1;
}

#pageheader {
  margin: 0px;
  text-align:center;
}

#leftholder {
  float:left;
  height:70px;
  width:120px;
  display:inline;
}

#rightholder {
  float:right;
  height:70px;
  width:120px;
  display:inline;
}

.bgloopy {
  background-image: url("images/head-loop-1.png")
}

.bgbiplane {
  background-image: url("images/head-biplane-1.png")
}

.titlebox {
  font-size: 130%;
  background-color: #CCC;
  padding: 3px;
}

.contentbox {
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 1px solid #CCC;
  border-top: 0px;
}

div.split {
  width: 50%;
  float: left;
  height: 100%;
}

p.important {
  color:grey ; font-size:110%
}

.logo {
  color:red ; font-size:120% ; font-family:monospace
}

.newslink {
  font-size: 100%;
  float: right;
}

div.newsitem {
  padding-left:20 ; font-size:120% ; padding-bottom:10
}

strike {
  color: #666;
}

.videothumb {
  display: inline-block;
  float: left;
  padding: 7px;
  padding-bottom: 3px;
}

.thumbtext {
  color: #777;
  text-align: center;
}

.thumbgroup {
  display: table-cell;
}
