.greybox {
  background: #EEE;
  padding: 20px;
}

.whitebox {
  background: #FFF;
  padding: 10px;
  margin: 10px;
}

.brightbox {
  background: #FFFFFF;
  padding: 20px;
}

div.splitleft {
  width: 50%;
  float: left;
  height: 100%;
}

div.splitright {
  margin-left:50% ; height:100%
}

p.important {
  color:grey ; font-size:110%
}

.headerbox {
  background:grey ; padding: 20px ; padding-top:5
}

.logo {
  color:red ; font-size:120% ; font-family:monospace
}

.newstitle {
  font-size: 130%;
}

.newslink {
  font-size: 60%;
  float: right;
}

.newscontent {
  padding: 10px;
  margin-bottom: 20px;
}
